body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: url("taustakuva_iso.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

header h1 {
  position: relative;
  z-index: 2;
}

/* Lisää kaikki muut tyylit tähän */



/* Pienten näyttöjen media-kysely */
@media (max-width: 600px) {
  header {
    background-image: url("kuva_pieni.jpg");
    background-attachment: scroll;
  }
}

/* Tablettien ja suurten puhelimien media-kysely */
@media (max-width: 768px) and (min-width: 601px) {
  header {
    background-image: url("/kuva_pieni.jpg");
    background-attachment: scroll;
  }
}
